# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Eclipse project files
.classpath
.project
.settings

# VS Code project files
.vscode

# Outputs
bin
build

# System-specific
.DS_Store